$dividerColor: #d8d8d8;
$headingTwoSize: 22px;
$headingThreeSize: 18px;

.details {
  margin-top: 91px;
  display: flex;
  justify-content: space-between;
  .details-heading {
    max-width: 635px;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
  }
}

 .divider{
    height: 2px;
    background-color: $dividerColor;
    margin-top: 60px;
  }

  .awards-awwwards{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    margin-top: 50px; 
    
    .awards-awwwards ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
    h3{
      grid-column: 13/19;
    }

    ul {
      grid-column: 21/29;
    }

    ul li{
      padding-bottom: 10px;
    }

    .genesis-kit{
      font-size: 16px;
      margin-bottom: 12px;
    }

     p{
      grid-column: 32/33;
    }
}

.navigation {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);

    h3 {
      grid-column: 15/20;
    }

    ul {
      grid-column: 22/29;
    }

    p{
      grid-column: 32/33;
    }
}

.design-awards {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  margin-top: 50px;

  ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  ul > p{
    font-size: 16px;
    margin-bottom: 12px;
    
  }

   ul li{
    padding-bottom: 10px;
  }

  h3{
    grid-column: 11/19;
  }

  ul {
    grid-column: 20/29;
  }

    p{
    grid-column: 32/33;
  }
}

.design-navigation {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);

    h3 {
      grid-column: 15/20;
    }

    ul {
      grid-column: 22/29;
    }

    p{
      grid-column: 32/33;
    }
}



