@use 'fonts';

@import 'nav';
@import 'header';
@import 'grid';
@import 'sections';
@import 'footer';
@import 'projects';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: fonts.$main-font;
  margin: 0 auto;
}